.black {
  color: #000000; }

.white {
  color: #FFFFFF; }

.background-dark-blue {
  margin: 0 !important;
  background-color: #184260; }
  .background-dark-blue div, .background-dark-blue span, .background-dark-blue p, .background-dark-blue h1, .background-dark-blue h2, .background-dark-blue h3, .background-dark-blue h4, .background-dark-blue h5, .background-dark-blue h6 {
    color: #FFFFFF; }

.background-grey {
  background-color: #E6E6E6;
  padding: 15px 0 30px 0;
  margin: 0 !important; }

.background-brand {
  background-color: #EF532F;
  padding: 15px 0 30px 0;
  margin: 0 !important; }

.button {
  display: inline-block;
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 20px;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid transparent;
  background-color: #EF532F; }
  .button:hover {
    background-color: #e76604;
    color: #FFFFFF; }
  .button:active, .button:focus {
    color: #FFFFFF;
    outline: none; }

.button-transparent {
  background: transparent;
  font-weight: bold; }

.button-transparent.transparent-brand {
  border: 2px solid #EF532F;
  color: #EF532F; }
  .button-transparent.transparent-brand:hover {
    background: transparent;
    color: #EF532F; }
  .button-transparent.transparent-brand:active, .button-transparent.transparent-brand:focus {
    color: #EF532F; }

.button-transparent.transparent-white {
  border: 2px solid #FFFFFF;
  color: #FFFFFF; }
  .button-transparent.transparent-white:hover {
    background: transparent;
    color: #FFFFFF; }
  .button-transparent.transparent-white:active, .button-transparent.transparent-white:focus {
    color: #FFFFFF; }

.button-icon {
  display: inline-block;
  border: none;
  background: none; }

.page-content {
  margin: 30px 0; }

.hover-scale:hover {
  transform: scale(1.05); }

.hover-border-brand {
  padding: 10px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent; }
  .hover-border-brand:hover {
    border-top: 2px solid #EF532F;
    border-bottom: 2px solid #EF532F; }

.glyphicon {
  padding-left: 5px; }

.readmore, .readmore:hover {
  font-weight: bold;
  color: #EF532F; }

.center-text {
  text-align: center; }

.bold {
  font-weight: bold; }

.underline {
  text-decoration: underline; }

@media (min-width: 992px) {
  .center-width {
    width: 85%; } }

@media (min-width: 1200px) {
  .center-width {
    width: 75%; } }

@media (max-width: 991px) {
  .hidden-small {
    display: none; } }

.img-center-block img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.img-right-block img {
  display: block;
  float: right; }

.img-left-block img {
  display: block;
  float: left; }

.img-profile img {
  display: block;
  height: 130px; }

.contact-wrap {
  padding: 30px 0 15px 0; }
  .contact-wrap img {
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .contact-wrap img {
        margin: 0;
        float: right; } }
  .contact-wrap-textcontent {
    padding-top: 10px;
    color: #FFFFFF; }
    @media (min-width: 768px) {
      .contact-wrap-textcontent {
        padding-top: 0; } }
    .contact-wrap-textcontent span {
      text-align: center;
      padding: 3px 0;
      display: block; }
      @media (min-width: 768px) {
        .contact-wrap-textcontent span {
          text-align: start; } }
    .contact-wrap-textcontent .span-email a {
      color: #FFFFFF; }

#mainNavigation {
  position: relative;
  min-height: 65px;
  margin-bottom: 20px; }

.main-logo img {
  width: 130px;
  display: block;
  height: auto; }

.nav-header {
  margin-right: 15px;
  margin-right: 15px; }
  @media (min-width: 992px) {
    .nav-header {
      margin-right: 0;
      margin-left: 0; } }
  .nav-header .nav-brand {
    float: left;
    height: 50px;
    padding: 15px 15px; }
    @media (min-width: 768px) {
      .nav-header .nav-brand {
        margin-left: -15px; } }
  .nav-header .main-logo {
    position: absolute; }
  .nav-header .nav-hamburger-holder {
    position: relative;
    float: right;
    top: 25px; }
    .nav-header .nav-hamburger-holder .hamburger:focus {
      outline: none; }
    @media (min-width: 992px) {
      .nav-header .nav-hamburger-holder {
        display: none; } }

.nav-right #navigation-list {
  margin-top: 75px;
  z-index: 999;
  background-color: #FFFFFF; }
  .nav-right #navigation-list ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    .nav-right #navigation-list ul li {
      position: relative;
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      padding: 4px 0; }
      .nav-right #navigation-list ul li a {
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
        display: block;
        color: #333333;
        padding: 3px 10px;
        border-bottom: 1px solid transparent; }
        .nav-right #navigation-list ul li a:hover {
          background: none;
          border-bottom: 1px solid #EF532F;
          text-decoration: none; }
        .nav-right #navigation-list ul li a:focus {
          background: none;
          text-decoration: none; }
        .nav-right #navigation-list ul li a:active, .nav-right #navigation-list ul li a.active {
          color: #EF532F;
          border-bottom: 1px solid #EF532F; }

.nav-right form {
  width: 100%;
  height: 50px; }
  .nav-right form .form-control {
    height: 40px;
    background: #EF532F;
    color: #000000;
    font-size: 16px;
    border-radius: 0; }
    .nav-right form .form-control:focus {
      -webkit-box-shadow: inset 0 0 5px #000000;
      -moz-box-shadow: inset 0 0 5px #000000;
      box-shadow: inset 0 0 5px #000000;
      border: none; }
  .nav-right form .form-control::placeholder {
    color: #000000; }
  .nav-right form .button-nav-search {
    top: -42px;
    right: 8px;
    position: relative;
    float: right;
    font-size: 18px;
    padding-top: 8px; }
    .nav-right form .button-nav-search:active, .nav-right form .button-nav-search:focus {
      outline: none; }
    .nav-right form .button-nav-search .glyphicon {
      top: 3px; }

@media (min-width: 992px) {
  .nav-right {
    float: right; }
    .nav-right #navigation-list {
      display: inline-block;
      margin-top: 0;
      padding-top: 20px;
      color: #333333; }
      .nav-right #navigation-list ul {
        display: inline-block;
        padding-top: 5px;
        /*:last-child a {
                    padding-right: 0;
                }*/ }
        .nav-right #navigation-list ul li {
          float: left; }
    .nav-right form {
      float: right;
      position: relative;
      width: auto; }
      .nav-right form .search-form-container {
        background-color: white;
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        padding-left: 50px;
        width: 480px; } }
      @media (min-width: 992px) and (min-width: 992px) {
        .nav-right form .search-form-container.hdn {
          display: none; } }

@media (min-width: 992px) {
        .nav-right form .search-form-container .search-input-group {
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .nav-right form .search-form-container .search-input-group .nav-search-close-button {
            font-size: 20px;
            padding-right: 5px;
            border-left: 1px solid #EF532F; }
            .nav-right form .search-form-container .search-input-group .nav-search-close-button .glyphicon {
              top: 3px; }
          .nav-right form .search-form-container .search-input-group .form-control {
            display: inline-block;
            width: 90%; }
      .nav-right form .button-nav-search {
        padding-right: 12px;
        z-index: 999;
        top: 0;
        right: 0; } }

footer {
  position: relative;
  min-height: 260px;
  padding: 45px 0;
  background-color: #184260;
  color: #FFFFFF; }
  footer .footer-top {
    overflow: hidden;
    padding-bottom: 30px; }
    footer .footer-top-item {
      padding-bottom: 20px; }
      @media (min-width: 992px) {
        footer .footer-top-item {
          width: 19% !important; } }
      footer .footer-top-item a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 40px; }
  footer .footer-bottom {
    padding-top: 30px;
    border-top: 1px solid #FFFFFF;
    overflow: hidden; }
    footer .footer-bottom a {
      color: #FFFFFF;
      text-decoration: underline; }
    footer .footer-bottom-left {
      text-align: center;
      padding-bottom: 30px; }
      @media (min-width: 768px) {
        footer .footer-bottom-left {
          text-align: start;
          padding-top: 8px; } }
      footer .footer-bottom-left span {
        font-size: 14px; }
      footer .footer-bottom-left span:not(:last-child) {
        padding-right: 30px; }
    footer .footer-bottom-center img {
      height: auto;
      width: 120px; }
    footer .footer-bottom-right {
      text-align: center;
      padding-top: 30px; }
      @media (min-width: 768px) {
        footer .footer-bottom-right {
          text-align: end;
          padding-top: 8px; } }
      footer .footer-bottom-right a {
        text-decoration: none;
        font-size: 20px; }
        footer .footer-bottom-right a:hover {
          color: #EF532F; }
      footer .footer-bottom-right a:not(:first-child) {
        padding-left: 20px; }
  footer .to-top-holder {
    position: absolute;
    z-index: 999;
    right: 100px;
    top: -85px;
    cursor: pointer; }
    footer .to-top-holder .glyphicon {
      display: block;
      font-size: 35px;
      padding-left: 0; }
    footer .to-top-holder .to-top-text {
      font-size: 18px;
      display: table-caption;
      line-height: 1.1;
      padding-top: 5px; }

@media (min-width: 768px) {
  body:not(.expEditor) .row-eq-height.container:before,
  body:not(.expEditor) .row-eq-height.container:after,
  body:not(.expEditor) .row-eq-height.row:before,
  body:not(.expEditor) .row-eq-height.row:after {
    content: normal; }
  body:not(.expEditor) .row-eq-height {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }

.container-wide {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container-wide {
      width: 750px; } }
  @media (min-width: 992px) {
    .container-wide {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container-wide {
      width: 1170px; } }
  @media (min-width: 1600px) {
    .container-wide {
      width: 1570px; } }
  .container-wide:before {
    display: table;
    content: ""; }
  .container-wide:after {
    clear: both; }

@media (min-width: 992px) {
  .container-less-pad {
    padding-left: 5px;
    padding-right: 5px; } }

@media (min-width: 1200px) {
  .col-5 {
    width: 20% !important;
    margin-left: auto;
    margin-right: auto; } }

.col-centered {
  overflow: hidden;
  float: none;
  margin-left: auto;
  margin-right: auto; }
  .col-centered-smallwidth {
    width: 50%; }

@media (min-width: 1200px) {
  .col-lg-extra-pad-left {
    padding-left: 60px; }
  .col-lg-extra-pad-right {
    padding-right: 60px; }
  .col-lg-extra-pad {
    padding-left: 30px;
    padding-right: 30px; } }

/*!
 * Hamburger
 * Modified from: https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/** custom **/
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-4.28571px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*title*/
.header-menu-title {
  text-transform: uppercase;
  display: block; }

.banner-text-front {
  position: relative; }

.image-responsive img {
  display: block;
  height: auto;
  width: 100%; }

@media (min-width: 992px) {
  .bck-image img {
    height: 450px !important; } }

.border-grey {
  border: 1px solid #d3d3d3; }

.front-textarea {
  display: block;
  background-color: #FFFFFF;
  padding: 0 10px 30px 10px;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .front-textarea {
      width: 75%;
      position: absolute; } }
  @media (min-width: 992px) {
    .front-textarea {
      width: 55%; } }
  @media (min-width: 1800px) {
    .front-textarea {
      width: 40%; } }
  .front-textarea-infotext {
    margin-top: 30px;
    font-size: 16px;
    text-align: center; }
    .front-textarea-infotext span {
      display: block;
      padding: 3px 0; }
    @media (min-width: 992px) {
      .front-textarea-infotext span {
        display: inline-block; }
      .front-textarea-infotext span:not(:last-child):after {
        padding-left: 20px;
        padding-right: 20px;
        content: "|"; } }
  @media (min-width: 992px) {
    .front-textarea-header {
      width: 75%; } }
  .front-textarea-maincontent {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%; }
    @media (min-width: 1200px) {
      .front-textarea-maincontent {
        width: 60%; } }

.btn-banner {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto; }

.image-text-boxes {
  margin: 30px 0 60px 0; }
  .image-text-boxes .box {
    display: table;
    border: 1px solid #d3d3d3;
    margin-top: 30px; }
    .image-text-boxes .box:hover {
      cursor: pointer; }
      .image-text-boxes .box:hover .box-text {
        -webkit-transition: ease all 0.2s;
        transition: ease all 0.2s;
        background-color: #EF532F;
        color: #FFFFFF; }
    .image-text-boxes .box-text {
      padding: 30px; }
      @media (min-width: 992px) {
        .image-text-boxes .box-text {
          min-height: 150px; } }
      .image-text-boxes .box-text-header {
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase; }

.fullwidth-wrap {
  margin: 30px 0;
  padding-bottom: 60px;
  padding-top: 30px; }

.imagetext-content {
  overflow: hidden;
  padding: 30px 0; }
  .imagetext-content-textright {
    padding-bottom: 30px; }
    @media (max-width: 991px) {
      .imagetext-content-textright {
        padding-top: 30px; } }

.full-image {
  margin: 0 !important;
  padding: 15px 0 30px 0;
  background-image: url("https://i.pinimg.com/originals/10/40/c7/1040c7073515426589e0ad4890ed1331.jpg"); }

.banner-text-light {
  overflow: hidden;
  width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .banner-text-light {
      width: 60%; } }
  .banner-text-light .center-text {
    padding: 35px 0 45px 0; }
  .banner-text-light h2, .banner-text-light h3, .banner-text-light p, .banner-text-light div, .banner-text-light span {
    color: #FFFFFF; }

.triple-tile-grid {
  padding: 45px 0;
  margin: 15px 0; }
  .triple-tile-grid-item {
    position: relative;
    background: #FFFFFF;
    text-align: center;
    border: 2px solid transparent;
    margin: 15px 0;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s; }
    @media (min-width: 768px) {
      .triple-tile-grid-item {
        min-height: 520px; } }
    .triple-tile-grid-item:hover {
      border: 2px solid #EF532F;
      background-color: #EF532F; }
      .triple-tile-grid-item:hover .triple-tile-grid-item-textcontent {
        color: #FFFFFF; }
      .triple-tile-grid-item:hover .readmore {
        color: #184260; }
    .triple-tile-grid-item-textcontent {
      padding-top: 10px;
      margin: 0 auto 15px auto;
      width: 75%; }
      .triple-tile-grid-item-textcontent h3 {
        font-size: 22px;
        line-height: 1.45; }
      .triple-tile-grid-item-textcontent-maintext {
        padding: 15px 0 30px 0; }
    .triple-tile-grid-item .readmore {
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0;
      bottom: 0;
      margin-bottom: 15px; }

.article-tile {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  margin: 0 15px; }
  @media (min-width: 992px) {
    .article-tile {
      margin: 0 30px; } }
  @media (min-width: 1200px) {
    .article-tile {
      margin: 0 45px; } }
  .article-tile header h3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: start; }

.tile-anchor-wrapper:focus, .tile-anchor-wrapper:hover, .tile-anchor-wrapper:active {
  text-decoration: none; }

.tile-anchor-wrapper article {
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.slider-general {
  margin: 30px 0;
  /*.slick-dots {
        position: absolute;
        bottom: -25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;

        .slick-active {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;

            button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;

                &:before {
                    font-family: 'slick';
                    font-size: 6px;
                }
            }
        }
    }*/ }
  .slider-general .glyphicon.slick-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }
  .slider-general .slick-arrow {
    font-size: 25px;
    position: absolute;
    top: 45%;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%) webkit ms;
    cursor: pointer; }
  .slider-general .slider-arrow-prev {
    left: -25px; }
  .slider-general .slider-arrow-next {
    right: -25px; }

.slider-tiles-wrap {
  margin: 30px 0;
  padding: 20px 0; }

.slider-tiles {
  padding: 30px 0 15px 0; }
  .slider-tiles-item {
    -webkit-transition: ease all 0.2s;
    transition: ease all 0.2s;
    padding: 10px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent; }
    .slider-tiles-item-image img {
      height: 120px; }
    .slider-tiles-item-text {
      font-size: 16px;
      text-align: center; }
      .slider-tiles-item-text .header {
        display: block;
        font-weight: bold;
        padding: 2.5px 0; }
      .slider-tiles-item-text .desc {
        display: block; }

body {
  line-height: 1.45; }

h2 {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase; }

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #184260; }
  @media (min-width: 768px) {
    h3 {
      font-size: 36px; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 40px; } }

.h3-standard {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  text-transform: none;
  text-decoration: none; }
  @media (min-width: 768px) {
    .h3-standard {
      font-size: 36px; } }
  @media (min-width: 992px) {
    .h3-standard {
      font-size: 40px; } }

p, div {
  font-size: 16px; }

.color-white {
  color: #FFFFFF; }

.color-brand {
  color: #EF532F; }
