<section class="page-content">
    <div class="container-wide">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    Lorem ipsum
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="profile-short-wrap">
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-md-4 col-5">
                    <div class="img-profile-item">
                        <div class="img-profile img-center-block">
                            <img src="images/haavard.png" alt="lorem">
                        </div>
                        <div class="img-profile-item-text">
                            <span class="img-profile-item-text-header">
                                Lorem Ipsum
                            </span>
                            <span class="img-profile-item-text-desc">
                                Lorem
                            </span>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</section>