<section class="image-text-boxes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h2-sectionHeader">
                    Lorem Ipsum
                </h2>
            </div>
        </div>
    </div>
    <div class="container-wide">
        <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-6 col-md-4 col-5 col-eq-height">
                <div class="box">
                    <div class="image-responsive box-image">
                        <!--<img src="http://via.placeholder.com/820x380" alt="lorem">-->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </div>
                    <div class="box-text">
                        <span class="box-text-header">
                            Lorem
                        </span>
                        <span class="box-text-main">
                            Sed ut perspiciatis unde omnis iste natus error
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-5 col-eq-height">
                <div class="box">
                    <div class="image-responsive box-image">
                        <!--<img src="http://via.placeholder.com/820x380" alt="lorem">-->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </div>
                    <div class="box-text">
                        <span class="box-text-header">
                            Lorem
                        </span>
                        <span class="box-text-main">
                            Sed ut perspiciatis unde omnis iste natus error
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-5 col-eq-height">
                <div class="box">
                    <div class="image-responsive box-image">
                        <!--<img src="http://via.placeholder.com/820x380" alt="lorem">-->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </div>
                    <div class="box-text">
                        <span class="box-text-header">
                            Lorem
                        </span>
                        <span class="box-text-main">
                            Sed ut perspiciatis unde omnis iste natus error
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-5 col-eq-height">
                <div class="box">
                    <div class="image-responsive box-image">
                        <!--<img src="http://via.placeholder.com/820x380" alt="lorem">-->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </div>
                    <div class="box-text">
                        <span class="box-text-header">
                            Lorem
                        </span>
                        <span class="box-text-main">
                            Sed ut perspiciatis unde omnis iste natus error
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-5 col-eq-height">
                    <div class="box">
                        <div class="image-responsive box-image">
                            <!--<img src="http://via.placeholder.com/820x380" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-text">
                            <span class="box-text-header">
                                Lorem
                            </span>
                            <span class="box-text-main">
                                Sed ut perspiciatis unde omnis iste natus error
                            </span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>