<section class="page-content background-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    Lorem ipsum
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="center-width">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="imagetext-content">
                <div class="col-xs-12 col-md-6 col-lg-extra-pad-left">
                    <figure class="image-responsive imagetext-content-imageleft">
                        <!--<img src="http://via.placeholder.com/650x350" alt="lorem"> -->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-extra-pad-right">
                    <div class="imagetext-content-textright">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nescuint. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit consectetur?
                    </div>
                    <a href="#" class="button button-transparent transparent-brand">
                        Lorem sed ut perspiciatis <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>