<div class="bck-image-fullwidth top-margin" style="background-image: url(/images/large-test3.png);">
    <article class="article-main">
        <section class="container page-layout-small">
            <div class="row">
                <div class="col-xs-12">
                    <header>
                        <h1>
                            Suksesshistorie for Nordic Semiconductor sammen med ItumX
                        </h1>
                        <div class="article-abstract">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit consequatur?
                        </div>
                    </header>
                </div>
            </div>
            <div class="article-textsection">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h2>
                            Leveransen sed quia consequuntur magni
                        </h2>
                    </div>
                    <div class="col-xs-12 col-md-8 col-md-offset-1">
                        <div class="article-textsection-text">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit consequatur.
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-textsection">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h2>
                            Leveransen sed quia consequuntur magni
                        </h2>
                    </div>
                    <div class="col-xs-12 col-md-8 col-md-offset-1">
                        <div class="article-textsection-text">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit consequatur.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-layout-fullwidth background-dark-blue">
            <div class="container">
                <div class="article-imageleft-textright">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-no-pad">
                            <figure class="image-responsive">
                                <img src="images/iPhoneX-man.png" alt="">
                            </figure>
                        </div>
                        <div class="col-xs-12 col-md-6 col-md-offset-1">
                            <h2>
                                Neque porro quisquam est
                            </h2>
                            <div class="article-imageleft-textright-text">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container page-layout-small">
            <div class="article-textsection">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <h2>
                            Leveransen sed quia consequuntur magni
                        </h2>
                    </div>
                    <div class="col-xs-12 col-md-8 col-md-offset-1">
                        <div class="article-textsection-text">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit consequatur.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>