<section class="box-grid background-grey">
    <div class="container">
        <div class="row">
            <div class="box-grid-wrap">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-grid-item">
                        <div class="image-responsive box-grid-item-image">
                            <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-grid-item-textcontent">
                            <h3>UX-design og Rådgivning</h3>
                            <div class="box-grid-item-textcontent-maintext">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                                magni dolores eos qui ratione sequi nesciunt.
                            </div>
                        </div>
                        
                        <div class="readmore">
                            <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-grid-item">
                        <div class="image-responsive box-grid-item-image">
                            <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-grid-item-textcontent">
                            <h3>UX-design</h3>
                            <div class="box-grid-item-textcontent-maintext">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                                magni dolores eos qui ratione sequi nesciunt.
                            </div>
                        </div>
                        <div class="readmore">
                            <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-grid-item">
                        <div class="image-responsive box-grid-item-image">
                            <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-grid-item-textcontent">
                            <h3>Rådgivning</h3>
                            <div class="box-grid-item-textcontent-maintext">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                                magni dolores eos qui ratione sequi nesciunt.
                            </div>
                        </div>
                        <div class="readmore">
                            <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-grid-item">
                        <div class="image-responsive box-grid-item-image">
                            <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-grid-item-textcontent">
                            <h3>Rådgivning</h3>
                            <div class="box-grid-item-textcontent-maintext">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                                magni dolores eos qui ratione sequi nesciunt.
                            </div>
                        </div>
                        <div class="readmore">
                            <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-grid-item">
                        <div class="image-responsive box-grid-item-image">
                            <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-grid-item-textcontent">
                            <h3>Frontend</h3>
                            <div class="box-grid-item-textcontent-maintext">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                                magni dolores eos qui ratione sequi nesciunt.
                            </div>
                        </div>
                        <div class="readmore">
                            <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box-grid-item">
                        <div class="image-responsive box-grid-item-image">
                            <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                            <img src="/images/large-test2.jpg" alt="lorem">
                        </div>
                        <div class="box-grid-item-textcontent">
                            <h3>Backend</h3>
                            <div class="box-grid-item-textcontent-maintext">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                                magni dolores eos qui ratione sequi nesciunt.
                            </div>
                        </div>
                        <div class="readmore">
                            <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>