<section class="page-content banner-header-background" style="background-image: url(/images/bannerpic.png)">
    <div class="banner-textwrap">
        <h1>
            Itumx har over 310 års erfaring med web og digitale brukeropplevelser
        </h1>
        <span>
            Vi er et kompetansehus med 30 medarbeidere og over 134 års Sitecoreerfaring
            fra design, utvikling og rådgivning i Sitecoreprosjekter.
        </span>
        <div class="scroll-down-holder" id="scroll-down-button">
            <span class="glyphicon glyphicon-download">
    
            </span>
        </div>
    </div>
</section>