<section class="slider-tiles-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    Lorem Ipsum
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="center-width">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                </h3>
            </div>
        </div>
        <div class="slider-general">
            <div class="slider-img-tiles">
                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>

                <div class="slider-tiles-item hover-scale">
                    <div class="slider-tiles-item-image img-center-block">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                    <div class="slider-tiles-item-text">
                        <span class="header">
                            Lorem Ipsum
                        </span>
                        <span class="desc">
                            Lorem
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>