<section class="page-content full-image">
    <div class="container">
        <div class="row">
            <div class="banner-text-light">
                <div class="col-xs-12">
                    <h2>Lorem Ipsum</h2>
                    <h3>Lorem ipsum sed unde?</h3>
                    <div class="center-text">
                        Sed ut perspiciatis unde omnis iste natus error Sed ut perspiciatis unde omnis iste natus error Sed ut perspiciatis unde omnis iste natus error
                        Sed ut perspiciatis unde omnis iste natus error
                    </div>
                    <div class="button button-transparent transparent-white">
                        <a href="#">Lorem ipsum dolor <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>