<div class="bck-image-fullwidth top-margin" style="background-image: url(/images/large-test3.png);">
    <article class="article">
        <section class="container page-layout-small">
            <div class="row">
                <div class="col-xs-12">
                    <header>
                        <h2>
                            Neste frokostseminar
                        </h2>
                        <div class="article-infotags">
                            <span>
                                Onsdag 12. Juli
                            </span>
                            <span>
                                Kl. 12.00
                            </span>
                            <span>
                                Oslo, Norge
                            </span>
                        </div>
                        <h3>
                            Våre UX-designerne lærer deg hvordan utvikle godt design
                        </h3>
                        <div class="article-abstract">
                            Denne gangen er temaet UX-design og brukeropplevelse. UX-designerne i ItumX gir deg råd og tips om hvordan utvikle godt design og fra Sitecore kommer Nicolai Winch Kristensen og presenterer hvordan man kan styrke brukeropplevelsen ved hjelp av Sitecore 9.
                        </div>
                    </header>
                    <div class="readmore center-text">
                        <a href="#">
                            Fortell meg mer om seminaret <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>    
    </article>
</div>