<section class="slider-tiles-wrap background-dark-blue">
    <div class="container-wide">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    Lorem Ipsum
                </h2>
            </div>
        </div>
        <div class="slider-general">
            <div class="slider-imgtext-tiles">
                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>

                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>

                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>

                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>

                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>

                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>

                <div class="slider-tiles-item">
                    <a href="#" class="tile-anchor-wrapper">
                        <article class="article-tile hover-border-brand">
                            <figure class="image-responsive">
                                <!--<img src="http://via.placeholder.com/800x400" alt="lorem">-->
                                <img src="/images/large-test2.jpg" alt="lorem">
                            </figure>
                            <header>
                                <h3>
                                    Lorem ipsum dolor sit amet unde omnis iste
                                </h3>
                            </header>
                            <div class="article-tile-content">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.
                            </div>

                        </article>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>