<section class="box-grid background-grey">
    <div class="container-wide">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    Kompetansehuset
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 double-box">
                <div class="box-grid-item">
                    <div class="image-responsive box-grid-item-image">
                        <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </div>
                    <div class="box-grid-item-textcontent">
                        <h3>UX-design og Rådgivning</h3>
                        <div class="box-grid-item-textcontent-maintext">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                            magni dolores eos qui ratione sequi nesciunt.
                        </div>
                    </div>
                    <div class="readmore">
                        <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 double-box">
                <div class="box-grid-item">
                    <div class="image-responsive box-grid-item-image">
                        <!--<img src="http://via.placeholder.com/800x350" alt="lorem">-->
                        <img src="/images/large-test2.jpg" alt="lorem">
                    </div>
                    <div class="box-grid-item-textcontent">
                        <h3>Analyse</h3>
                        <div class="box-grid-item-textcontent-maintext">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quita consequuntur
                            magni dolores eos qui ratione sequi nesciunt.
                        </div>
                    </div>
                    <div class="readmore">
                        <a href="#">Les mer <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-text">
                <a class="button" href="#">
                    Vis meg alle kompetanser <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>