<section class="page-content background-brand">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h3-standard center-width">
                    Nysgjerrig? Ønsker du å ta en prat med oss? Ta kontakt!
                </h2>
            </div>
        </div>
        <div class="contact-wrap col-centered col-centered-smallwidth">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="img-profile">
                        <img src="images/haavard.png" alt="lorem">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="contact-wrap-textcontent">
                        <span class="bold">
                            Fornavn Etternavn
                        </span>
                        <span>
                            Stilling
                        </span>
                        <span class="bold">
                            [+47] 123 45 918
                        </span>
                        <span class="bold underline span-email">
                            <a href="mailto:Hei@hallo.com">Hei@hallo.com</a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>