<footer class="background-dark-blue">
    
    <div class="to-top-holder center-text" id="to-top-button">
        <span class="glyphicon glyphicon-upload">
        </span>
        <span class="to-top-text">
            Til toppen
        </span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-top">

                    <div class="footer-top-item col-xs-12 col-sm-4">
                        <a href="#">
                            <img src="images/eika-logo-liten.png" alt="logo-eika">
                        </a>
                    </div>
                    <div class="footer-top-item col-xs-12 col-sm-4">
                        <a href="#">
                            <img src="images/eika-logo-liten.png" alt="logo-eika">
                        </a>
                    </div>
                    <div class="footer-top-item col-xs-12 col-sm-4">
                        <a href="#">
                            <img src="images/eika-logo-liten.png" alt="logo-eika">
                        </a>
                    </div>
                    <div class="footer-top-item col-xs-12 col-sm-4">
                        <a href="#">
                            <img src="images/eika-logo-liten.png" alt="logo-eika">
                        </a>
                    </div>
                    <div class="footer-top-item col-xs-12 col-sm-4">
                        <a href="#">
                            <img src="images/eika-logo-liten.png" alt="logo-eika">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-bottom">
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-bottom-left">
                        <span>
                            ITUMX 2018
                        </span>
                        <span>
                            <a href="#">
                                Cookies
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-bottom-center img-center-block">
                        <img src="http://www.itumx.no/-/media/ItumX-logo.png" alt="itumx-logo">
                
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-bottom-right">
                        <a href="#">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>