.banner-header-background {
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    background-size: cover;
    position: relative;

    @media (min-width: 991px) {
        height: 1100px;
    }

    @media (min-width: 1200px) {
        background-position: center 70%;
    }

    @media (min-width: 1600px) {
        background-position: center 53%;
    }

    @media (min-width: 2000px) {
        background-position: center 40%;
    }

    .banner-textwrap {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
        max-width: 900px;
        color: $white;
        padding: 0 15px;

        h1 {
            font-weight: bold;
            margin-bottom: 50px;
            line-height: 1.22;
            letter-spacing: 2px;

            @media (min-width: 768px) {
                font-size: 50px;
            }

            @media (min-width: 992px) {
                font-size: 60px;
            }

            @media (min-width: 1200px) {
                font-size: 74px;
            }
        }
        span {
            display: block;
            font-size: 20px;

            @media (min-width: 768px) {
                padding: 0 125px;
                font-size: 22px;
            }

            @media (min-width: 992px) {
                padding: 0 175px;
            }

            @media (min-width: 1200px) {
                font-size: 24px;
            }
        }

        .scroll-down-holder {
            display: none;

            @media (min-width: 992px) {
                position: absolute;
                left: 28%;
                .glyphicon {
                    font-size: 40px;
                    font-weight: normal;
                    cursor: pointer;
                    padding-top: 200px;
                }
            }    
        }   
    }
}