$white: #FFFFFF;
$black: #000000;
$light-grey: #E6E6E6;
$dark-grey: darken($light-grey, 25%);
$dark-blue: #1C4656;
$itumx-brand: #EF532F;

.black {
    color: $black;
}

.white {
    color: $white;
}

.background-dark-blue {
    margin: 0 !important;
    background-color: $dark-blue;

    div, span, p, h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
}

.background-grey {
    background-color: $light-grey;
    padding: 15px 0 30px 0;
    margin: 0 !important;
}

.background-brand {
    background-color: $itumx-brand;
    padding: 15px 0 30px 0;
    margin: 0 !important;
}