footer {
    position: relative;
    min-height: 260px;
    padding: 60px 0 50px 0;

    .footer-top {
        overflow: hidden;
        padding-bottom: 40px;

        &-item {

            padding-bottom: 20px;

            @media (min-width: 992px) {
                width: 20% !important;
            }

            a {

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-height: 40px;
                }
            }  
        }
    }

    .footer-bottom {
        padding-top: 60px;
        border-top: 1px solid $white;
        overflow: hidden;

        a {
            color: $white;
            text-decoration: underline;
        }


        &-left {
            text-align: center;
            padding-bottom: 30px;

            @media (min-width: 768px) {
                text-align: start;
                padding-top: 8px;
            }

            span {
                font-size: 14px;
            }
    
            span:not(:last-child) {
                padding-right: 30px;
            }
        }

        &-center {

            img {
                height: auto;
                width: 120px;
            }

        }

        &-right {
            text-align: center;
            padding-top: 30px;

            @media (min-width: 768px) {
                text-align:end;
                padding-top: 8px;
            }
            a {
                text-decoration: none;
                font-size: 20px;

                &:hover {
                    color: $itumx-brand;
                }
            }
            a:not(:first-child) {
                padding-left: 20px;
            }     
        }
    }

    .to-top-holder {

        position: absolute;
        z-index: 999;
        cursor: pointer;
        right: 20px;
        top: 10px;

        @media (min-width: 992px) {
            right: 100px;
            top: -85px;
        }

        
        .glyphicon {
            display: block;
            font-size: 35px;
            padding-left: 0;
            color: $black;
        }

        .to-top-text {
            font-size: 16px;
            display: table-caption; // Make line break after word
            line-height: 1.1;
            padding-top: 5px;
            color: $black
        }
    }
}