// Grid

@media (min-width: 768px) {

    body:not(.expEditor) {
        .row-eq-height.container:before,
        .row-eq-height.container:after,
        .row-eq-height.row:before,
        .row-eq-height.row:after {
            content: normal;
        }

        .row-eq-height {
            display: -webkit-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    } 
}

// Custom container for extra width on > 1600px
.container-wide {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
    @media (min-width: 1600px) {
        width: 1570px;
    }

    &:before {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

.container-less-pad {
    @media (min-width: 992px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.col-5 {
    @media (min-width: 1200px) {
        width: 20% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.col-centered {
    overflow: hidden;
    float: none;
    margin-left: auto;
    margin-right: auto;

    &-smallwidth {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-lg-extra-pad-left {
        padding-left: 60px;
    }
    .col-lg-extra-pad-right {
        padding-right: 60px;
    }
    .col-lg-extra-pad {
        padding-left: 30px;
        padding-right: 30px;
    }
}