///////// HEADER /////////

//ITUMX RED #EF532F

#mainNavigation {
    position: relative;
    min-height: 65px;
    margin-bottom: 20px;
    z-index: 999;
}

.main-logo img {
    width: 140px;
    display: block;
    height: auto;
}

.nav-header {
    margin-right: 15px;
    margin-right: 15px;

    @media (min-width: 992px) {
        margin-right: 0;
        margin-left: 0;
    }

    .nav-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;

        @media (min-width: 768px) {
            margin-left: -15px;
        }
    }

    .main-logo {
        position: absolute;
    }

    .nav-hamburger-holder {
        position: relative;
        float: right;
        top: 25px;
        
        .hamburger {
            &:focus {
                outline: none;
            }
        }
    
        @media (min-width: 992px) {
            display: none;
        }
    }
}

.nav-right {

    #navigation-list {
        margin-top: 90px;
        z-index: 999;
        background-color: $white;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            li {
                position: relative;
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                padding: 4px 0;
                
                a {
                    @include prefix(transition, ease all 0.35s, webkit);
                    display: block;
                    color: $dark-blue;
                    padding: 3px 10px;
                    border-bottom: 1px solid transparent;

                    &:hover, &:focus {
                        background: none ;
                        border-bottom: 1px solid $itumx-brand;
                        text-decoration: none;
                    }

                    &:active, &.active {
                        color: $itumx-brand;
                        border-bottom: 1px solid $itumx-brand;
                    }
                }
            }  
        }
    }

    form {
        width: 100%;
        height: 50px;

        .form-control {
            height: 40px;
            background: $itumx-brand;
            color: $black;
            font-size: 16px;
            border-radius: 0;

            &:focus {
                @include prefix(box-shadow, inset 0 0 5px #000000, webkit moz);
                border: none;
            }
        }
        .form-control::placeholder {
            color: $black;
        }

        .button-nav-search {
            top: -42px;
            right: 8px;
            position: relative;
            float: right;
            font-size: 18px;
            padding-top: 8px;

            &:active, &:focus {
                outline: none;
            }

            .glyphicon {
                top: 3px;
            }
        }
    }

    @media (min-width: 992px) {

        float: right;

        #navigation-list {
            display: inline-block;
            margin-top: 0;
            padding-top: 20px;
            color: #333333;
            background: transparent;

            ul {
                display: inline-block;
                padding-top: 5px;
            
                li {
                    float: left;
                }
            }
        }

        #navigation-list.search-open {
            ul {
                opacity: 0.4
            }
        }

        form {
            float: right;
            position: relative;
            width: auto;
            
            .search-form-container {
                background-color: white;
                position: absolute;
                z-index: 99;
                right: 0;
                top: 0;
                //padding-left: 50px;
                width: 480px;

                @media (min-width: 992px) {
                    &.hdn {
                        display: none;
                        // Need to use width for transition
                        //width: 0;
                    }
                }             

                .search-input-group {

                    @include prefix(transition, all .3s ease-in-out, webkit);
                    
                    .nav-search-close-button {
                        font-size: 20px;
                        padding-right: 5px;
                        border-left: 1px solid $itumx-brand;

                        .glyphicon {
                            top: 3px;
                        }
                    }

                    .form-control {
                        display: inline-block;
                        width: 90%;
                    }
                }
            }

            .button-nav-search {
                padding-right: 12px;
                padding-left: 15px;
                z-index: 999;
                top: 0;
                right: 0;
            }
        }
    }
}


.header-main.background-style {
    position: absolute;
    width: 100%;
    z-index: 999;


    .hambuger-inner, .hambuger-inner::after, .hambuger-inner::before {
        background-color: $white;
    }


    @media (min-width: 992px) {
        #mainNavigation {
            ul li a, span {
                color: $white;
            }

            a:not(.nav-brand):hover, a.active {
                border-bottom: 1px solid $white;
            }

            .search-form-container {
                background-color: $itumx-brand;

                .nav-search-close-button {
                    border-left: 1px solid $white;
                }
            }

        }
    }
}