///////// General /////////

//
.button {
    display: inline-block;
	border-radius: 0;
	text-transform: uppercase;
    padding: 12px 20px;
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    color: $white;
    border: 1px solid transparent;
	background-color: $itumx-brand;
	
	&:hover {
        background-color: #e76604;
        color: $white;
	}
	
	&:active, &:focus {
        color: $white;
        outline: none;
	}
}

.button-transparent {
    background: transparent;
    font-weight: bold;
}

.button-transparent.transparent {

    &-brand {
        border: 2px solid $itumx-brand;
        color: $itumx-brand;

        &:hover {
            background: transparent;
            color: $itumx-brand;
        }

        &:active, &:focus {
            color: $itumx-brand;
        }
    }

    &-white, &-white a {
        color: $white;
    }
    
    &-white {
        border: 2px solid $white;

        &:hover {
            background: transparent;
            color: $white;
        }

        &:active, &:focus {
            color: $white;
        }
    }

    &:after {

    }
}

.button-icon {
    display: inline-block;
    border: none;
    background: none;
}

.page-content {
    padding: 50px 0 100px 0;
}

// Various hover classes
.hover {
    &-scale {
        &:hover {
            transform: scale(1.05);
        }
    }

    &-border-brand {
        padding: 10px 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

        &:hover {
            border-top: 2px solid $itumx-brand;
            border-bottom: 2px solid $itumx-brand;

        }
    }   
}

.glyphicon {
    padding-left: 5px;
}

.readmore a, .readmore a:hover {
    font-weight: bold;
    color: $itumx-brand;
}

.center-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.center-width {
    @media (min-width: 992px) {
        width: 85%;
    }
    @media (min-width: 1200px) {
        width: 75%;
    }
}

.hidden-small {
    @media (max-width: 991px) {
        display: none;
    }
}

.img-center-block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right-block img {
    display: block;
    float: right;
}

.img-left-block img {
    display: block;
    float: left;
}

.img-profile img {
    display: block;
    height: 155px;
}

.top-margin {
    padding-top: 225px;
}

.bck-image-fullwidth {
    position: relative;
    //height: auto;
    background-repeat: no-repeat;
    // 500px should be auto instead, use proper image-size
	background-size: 100% 500px;
}

.bck-image-fullwidth.cover-header {
    top: -90px;
}


.contact-wrap {
    padding: 30px 0 15px 0;

    img {
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) {
            margin: 0;
            float: right;
        }
    }
    
    &-textcontent {
        padding-top: 10px;
        color: $white;

        @media (min-width: 768px) {
            padding-top: 0;
        }

        span {
            text-align: center;
            padding: 3px 0;
            display: block;

            @media (min-width: 768px) {
                text-align: start;
            }  
        }

        .span-email a {
            color: $white;
        }
    }
}