///////// General /////////

//
.button {
    display: inline-block;
	border-radius: 0;
	text-transform: uppercase;
    padding: 12px 20px;
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    color: $white;
    border: 1px solid transparent;
	background-color: $itumx-brand;
	
	&:hover {
        background-color: #e76604;
        //border-bottom: 1px solid transparent;
        color: $white;
        
		//transform: scale(1.02);
	}
	
	&:active, &:focus {
        color: $white;
        outline: none;
	}
}

.button-transparent {
    background: transparent;
    font-weight: bold;
}

.button-transparent.transparent {

    &-brand {
        border: 2px solid $itumx-brand;
        color: $itumx-brand;

        &:hover {
            background: transparent;
            color: $itumx-brand;
        }

        &:active, &:focus {
            color: $itumx-brand;
        }
    }

    &-white {
        border: 2px solid $white;
        color: $white;

        &:hover {
            background: transparent;
            color: $white;
        }

        &:active, &:focus {
            color: $white;
        }

    }

    &:after {

    }
}

.button-icon {
    display: inline-block;
    border: none;
    background: none;
}

// HTML semantic elements
.page-content {
    margin: 30px 0;
}




.glyphicon {
    padding-left: 5px;
}

.readmore, .readmore:hover {
    font-weight: bold;
    color: $itumx-brand;
}

.center-text {
    text-align: center;
}

.center-width {
    @media (min-width: 992px) {
        width: 85%;
    }
    @media (min-width: 1200px) {
        width: 75%;
    }
}

.hidden-small {
    @media (max-width: 991px) {
        display: none;
    }
}

.img-center-block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}