.slider-tiles-wrap {
    padding-top: 50px;
    padding-bottom: 70px;
}

.slider-tiles {
    padding: 30px 0 15px 0;

    &-item {
        @include prefix(transition, ease all 0.2s, webkit);
        padding: 10px 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

        &-image img {
            height: 155px;
        }

        &-text {
            font-size: 16px;
            text-align: center;

            .header {
                display: block;
                font-weight: bold;
                padding-top: 8px;
            }

            .desc {
                display: block;

            }
        }
    }

    .slick-slider .slick-dots li button:before {
        font-size: 50px;
    }
}