// Typography

body {
    line-height: 1.45;
}

h2 {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: $dark-blue;

    @media (min-width: 768px) {
        font-size: 36px;
    }
    
    @media (min-width: 992px) {
        font-size: 40px;
    }  
}

.h3-standard {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: none;
    text-decoration: none;

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 992px) {
        font-size: 40px;
    }  
}

p, div {
    font-size: 16px;
}

.color-white {
    color: $white;
}

.color-brand {
    color: $itumx-brand;
}
