// Typography

body {
    font-family: 'CamptonLight', Helvetica, sans-serif;
    line-height: 1.45;
}

h1 {
    font-size: 34px;

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 1200px) {
        font-size: 48px;
    }
}

h2, .article-subhead-h2style {
    margin-top: 50px;
    margin-bottom: 45px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

h3 {
    margin: 0 auto 45px auto;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    color: $dark-blue;

    @media (min-width: 768px) {
        font-size: 42px;
    }
    
    @media (min-width: 992px) {
        font-size: 48px;
    }  
}

.h3-standard {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: none;
    text-decoration: none;

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 992px) {
        font-size: 48px;
    }  
}

p, div {
    font-size: 18px;
}

.color-white {
    color: $white;
}

.color-brand {
    color: $itumx-brand;
}
