///////// HEADER /////////

//ITUMX RED #EF532F

#mainNavigation {
    position: relative;
    min-height: 75px;
}

.main-logo img {
    width: 120px;
    display: block;
    height: auto;
}

.nav-header {
    margin-right: 15px;
    margin-right: 15px;

    @media (min-width: 992px) {
        margin-right: 0;
        margin-left: 0;
        float: left;
    }

    .main-logo {
        position: absolute;
    }

    .nav-hamburger-holder {
        position: relative;
        float: right;
        top: 25px;
        
        .hamburger {
            &:focus {
                outline: none;
            }
        }
    
        @media (min-width: 992px) {
            display: none;
        }
    }
}

.navbar.navbar-default {
    background: none;
    border: none;
}

.nav-right {
    @media (min-width: 992px) {
        float: right;
    }   
}

.navbar {

    #navigation-list {
        margin-top: 75px;
        z-index: 999;
        background-color: white;
        ul {
            width: 100%;
            li {
                text-transform: uppercase;
                font-size: 15px;
                padding: 2px 0;
                
                a {
                    color: #333333;
                    padding: 3px 10px;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        background: none ;
                        border-bottom: 1px solid #EF532F;
                    }
                    &:focus {
                        background: none;
                    }

                    &:active {
                        color: #EF532F;
                    }
                }
            }  
        }
    }

    @media (min-width: 992px) {
        #navigation-list {
            display: block;
            margin-top: 0;
            padding-top: 25px;
            color: #333333;
            float: right;

            ul {
                :last-child a {
                    padding-right: 0;
                }
            
                li {
                    float: left;
                }
            }
        }
    }
}



///////// Image fullwidth + text infront ////////

.banner-imagetext-wrap {
	position: relative;
	//margin-top: 100px;
    //padding-bottom: 60px;
}
.image-responsive img {
    display: block;
	height: auto;
	width: 100%;
}

.bck-image img {
    height: 450px !important;
}

.border-grey {
    border: 1px solid #d3d3d3;
}


.front-textarea {
	display: block;
	background-color: white;
    padding: 0 10px 30px 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	
	@media (min-width: 768px) {
		width: 75%;
    }
    
    @media (min-width: 992px) {
        width: 55%;
    }
    
    @media (min-width: 1800px) {
        width: 40%;
    }
	
	.tag-text {
		margin-top: 30px;
		display: block;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
		text-transform: uppercase;
	}
	
	
	.info-text {
		margin-top: 30px;
		font-size: 16px;
		text-align: center;
		
		span {
			display: block;
			padding: 3px 0;
		}
		
		@media (min-width: 992px) {
			span {
				display: inline-block;
			}
				span:not(:last-child):after {
				padding-left: 20px;
				padding-right: 20px;
				content: "|";
			}
		}
	}
	
	.banner-header {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-weight: bold;
		font-size: 36px;
		
		@media (min-width: 992px) {
			font-size: 40px;
			width: 75%;
		}
		
	}
	
	.main-content-text {
		margin-top: 30px;
		font-size: 15px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		
		@media (min-width: 1200px) {
			width: 60%;
		}
	}
	
	
}

.btn-banner {
	margin-top: 45px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

///////// Image fullwidth + text infront END /////////




///////// General /////////

//
.button {
    display: inline-block;
	border-radius: 0;
	text-transform: uppercase;
    padding: 12px 20px;
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
	background-color: #e76604;
	
	&:hover {
        background-color: #EF532F;
        color: white;
        
		transform: scale(1.02);
	}
	
	&:active, &:focus {
		color: white;
	}
}

.center-text {
    text-align: center;
}



